@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* -------------- DETAILS MODAL */

.details-modal {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(black, 0.2);
  left: 50%;
  max-width: 90%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50em;
  text-align: left;
  max-height: 90vh;
  display: none;
  flex-direction: column;
  z-index: 99999;
  transition: opacity 0.3s ease; /* transition effect */
}

#roomDetailsContent {
  width: 55vw !important;
}

.details-modal.show {
    display: flex; /* show the modal when the show class is added */
    opacity: 1; /* make the modal fully visible */
}

.details-modal-close {
  align-items: center;
  color: #111827;
  display: flex;
  height: 4.5em;
  justify-content: center;
  pointer-events: all;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -10px;
  width: 4.5em;
}


.details-modal-close svg:hover {
    width: 12px;
    height: 12px;
}

.selectedRoom-container {
  gap: 10px;
  display: flex;
  flex-direction: row;
}

.details-modal-close svg {
  display: block;
}

.modalNaveHead{
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}

.details-modal-title {
  color: #111827;
  padding: 15px 10px;
  pointer-events: all;
  position: relative;
  gap: 10px;
  border-radius: 10px 10px 0px 0px;
}

.discription-body {
  display: flex;
  flex-direction: column;
  background-color: #B8B8B838;
  border-radius: 10px;
  gap: 10px;
  padding: 15px 10px;
  margin-bottom: 15px;
}

.amenities-body {
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  background-color: #ffffff;
  border-radius: 10px;
}

#description-text {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 10px;
  color:  #5A5A5A;
}

.discription-header {
  background: #f0efef;
  padding: 15px 15px;
  border-radius: 10px;
  color: #5A5A5A;
  box-shadow: #000000;
}

.discription-header span i {
  margin-right: 15px !important;
  background: #ffffff !important;
  padding: 10px;
  border-radius: 100%;
}

.notif-detail-label{
  margin-bottom: -15px !important;
  color:  #000000;;
}

.description-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#details-modal-titleId {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.details-modal-title h1 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: normal;
}

.details-modal-footer {
  color: #111827;
  padding: 1.5em 1px;
  pointer-events: all;
  position: relative;
  width: calc(100% - 4.5em);
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

#selectedPrice {
  margin-right: auto;
  margin-left: 65px;
  background-color: silver;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.details-modal-content {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  padding: 15px 30px;
  pointer-events: all;
  overflow: auto;
}

.room-form-container {
  display: flex;
  flex-direction: column;
  gap: var(--secondary-margin);
}

.input-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.is-partial-checkbox-container {
  gap: 5px !important;
  align-items: flex-start;
}

.is-partial-checkbox-container-single {
  gap: 5px !important;
  align-items: flex-start;
}

.checkbox-booking{
  height: 20px;
  width: 20px;
}

.addOtherRate-container  {
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.amenities-container  {
  background-color: whitesmoke;
  padding: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 15px;
}

.amenityType-container {
  background-color: #19C4B8;
  padding: 15px;
  border-radius: 10px;
  color: #ffffff;
}

.viewRoomMainImage-container {
  display: flex;
  justify-content: center;
}

.viewRoomMainImage-paymentEvidence {
  display: flex;
  justify-content: center;
}

.viewRoomMainImage-paymentEvidence img{
  border-radius: var(--secondary-margin);
  width: 50%; /* Set the width to 100% */
  height: auto; /* Allow the height to adjust automatically based on the aspect ratio */
}

.viewRoomMainImage-container img {
  border-radius: var(--secondary-margin);
  width: 100%; /* Allow the image to take full width of the container */
  max-width: 600px; /* Set a maximum width of 800px */
  height: auto; /* Allow the height to adjust automatically based on the aspect ratio */
  object-fit: cover; /* Cover the entire container while maintaining the aspect ratio */
  aspect-ratio: 4 / 3; /* Set the desired aspect ratio */
}


.newAddedRate-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 5px;
}

.newAmenity-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: white;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 5px;
}

.otherRate-card {
  background-color: forestgreen;
  border-radius: 15px;
  padding: 10px 15px;
  color: white;
}

.details-modal-back {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #010F1AA2;
  z-index: 999999;
}

.amenity-card {
  background-color: chocolate;
  border-radius: 15px;
  padding: 10px 15px;
  color: white;
}

#addImages {
  background-color: grey !important;
  gap: 10px;
  width: 150px;
}


#addImagesEvidence {
  background-color: grey !important;
  gap: 10px;
  width: 250px;
}

#addImagesEvidenceForMultiBooking {
  background-color: grey !important;
  gap: 10px;
  width: 250px;
}

.navActive {
  background-color: #19C4B8 ;
}

.roomDetailsNavBar-container {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 15px 15px;
  background-color: #F2F5F4;
  border-radius: 10px;
  margin: 10px 20px
}

#singleRoomSliderContainerID {
  background-color: #1C1D1D;
  padding: 10px 10px;
  border-radius: 10px;
}

.room-form-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#showOtherRate {
  width: 9.5rem;
  background-color: goldenrod;
}

#closeOtherRate {
  width: 9.5rem;
  background-color: firebrick;
}

.previewImage {
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 10px;
}

.deleteButton {
  display: none;
}

.imageContainer {
  display: flex;
  flex-direction:column-reverse;
  justify-content: center;
  justify-items: center;;
  gap: 5px;
}

.pm-msg-container {
  color: #7E7E7E;
}

.pm-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  justify-items: center;
  align-items: center;

  background-color: #E0E0E05E;
  border-radius: 10px;
}

.pm-qr img{
  height: 200px;
  width: 200px;
}

.imageContainer:hover .deleteButton {
  display: flex;
  justify-content: center;
  position:relative;
  max-width: 100px;
  height: 20px;
  background-color: rgba(26 25 25 / 0.19);
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
  padding-top: 3px;
  padding-bottom: 20px;
}

#imagePreviewContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

#imagePreviewContainerSingleEvidence {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

#imagePreviewContainermultiEvidence {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}


.room-input {
  height: 5rex;
  border-radius: 0.5rem;
  padding: 5px 12px;
  border: 1.0px solid #756d6d
}

#roomDescription {
 padding-top: 10px;
 height: 10rex;
}

/* -------------- OVERLAY */

.details-modal-overlay {
  transition: opacity 0.2s ease-out;
  pointer-events: none;
  background: rgba(#0f172a, 0.8);
  position: fixed;
  opacity: 0;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}

details[open] .details-modal-overlay {
  pointer-events: all;
  opacity: 0.5;
}

/* -------------- DETAILS */

details summary {
  list-style: none;
}

details summary:focus {
  outline: none;
}

details summary::-webkit-details-marker {
  display: none;
}

.reciept-container-calculation {
  display: flex;
  flex-direction: column;
  background-color: #F2F5F4;
  border-radius: 15px;
  padding: 20px 20px;
  min-height: 300px;
  max-height: 500px; /* Set this to the desired height */
  overflow-y: auto; /* Enable vertical scrolling */
  gap: 10px;
  width: 420px;
  /* align-items: center; */
}

.reciept-container-calculation::-webkit-scrollbar-track {
  border-radius: 10px;
}

.reciept-container-calculation::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 3px solid #e2e2e2;
}

.multiBookOpenReciept-container {
  display: flex;
  flex-direction: column;
  background-color: #F2F5F4;
  border-radius: 15px;
  padding: 20px 20px;
  min-height: 200px;
  max-height: 300px; /* Set this to the desired height */
  overflow-y: auto; /* Enable vertical scrolling */
  gap: 20px;
  width: 100%;
  /* align-items: center; */
}

.multiBookOpenReciept-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.multiBookOpenReciept-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 3px solid #e2e2e2;
}

.multiBookOpenReciept-child {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.multiBookOpenReciept-child div {
  border-radius: 10px;
  background-color: #e0e0e0;
  color: #5A5A5A;
  padding: 10px;
}


.calculation-info-container {
  display: flex;
  flex-direction: column;
  background-color: #F2F5F4;
  border-radius: 15px;
  padding: 20px 20px;
  min-height: 100px;
  max-height: 300px; /* Set this to the desired height */
  overflow-y: auto; /* Enable vertical scrolling */
  gap: 10px;
  /* align-items: center; */
}

.calculation-info-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.calculation-info-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 3px solid #e2e2e2;
}

.calculation-info-peer-room {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.calculation-info-peer-room div {
  color: #adacac;
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.filter-modal-input-container {
  display: flex;
  gap: 15px;
  justify-content: flex-start;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 10px;
}

.filter-modal-input-date-container {
  width: 100% !important;
  display: flex;
  flex-direction: column !important;
}

.filter-modal-value-input{
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid gray;
}

.filter-modal-inner-label {
  font-size: 0.8rem;
  color: gray;
}

.filter-modal-inputvalue-container{
  width: 100% !important;
  display: flex;
  flex-direction: column !important;
}

.filter-operator-select{
  padding: 10px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 5px;

  appearance: none; /* Remove default arrow in modern browsers */
  -webkit-appearance: none; /* Remove default arrow in WebKit browsers */
  -moz-appearance: none; /* Remove default arrow in Firefox */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><path d="M0 0 L5 5 L10 0 Z" fill="black"/></svg>'); /* Custom arrow */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
  padding-right: 30px; /* Add space for the arrow */
}


.color-gray{
  color: #d3d3d3 !important;
}

.option-value {
  color: #000000 !important;
}

.filter-modal-content {
  background-color: #f7f7f7;
}
